#posicionarContainer {
	margin-top: 5%;
}

.fieldsetLogin {
	width: 50% !important;
}

.semborda tr, .semborda td {  
    border: none !important;  
}

.rodape {
	margin-left: 25%;
	margin-right: 25%;
}